.footer-about{
    text-align: justify;
    margin-left: 130px;
    font-size: large;
    color: white;
    
    
}
.footer-title{
    color: white;
    
    
}
.contact{
    text-align: justify;
    margin-left: 100px;
    
    color: white;
}