.header-link{
   font-size: large;
   color: black;
   text-decoration: none;
   font-weight: bold;
   display: flex;
   align-items: center;
}
.header-link:hover{
   
  color: black;
 
}
.web-name{
    font-size: larger;
font-weight: 700;
/* padding-left: 20px; */
}

.dashbord-link{
    text-decoration: none;
    font-size: large;
    color: black;
    
}
.dashbord-link:hover{
   
    color: black;
}
.dashboard-btn{
    color: black;
    font-size: large;
    font-weight: bold;
}
.dashboard-btn:hover{
    color: black;
  
}